.header
  .header__container
    .header__container__top
      %h1
        = link_to("/") do
          = image_tag "logo.svg", size: "134x36", alt: "mercari",class: "logo"
      .header__form
        -# = form_with(model: @item, local: true) do |f|
          %input.header__input-default{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}/
          %i.fa.fa-search.icon-search

    .header__container__bottom.clearfix
      .container__bottom-left
        %ul.header-nav
          %li
            %h2
              = link_to('#', class:'search-method') do
                %i.fa.fa-list-ul
                %span カテゴリーから探す
          %li
            %h2
              = link_to('#', class:'search-method') do
                %i.fa.fa-tag.icon
                %span ブランドから探す
      .container__bottom-right
        %ul.header-user-nav
          - if user_signed_in?
            %li
              = link_to('#', class: 'link') do
                %i.icon.fa.fa-heart-o
                %span いいね!一覧
            %li
              = link_to('#', class: 'link') do
                %i.icon.fa.fa-bell-o
                  .nav-count 4
                %span お知らせ
            %li
              = link_to('#', class: 'link') do
                %i.icon.fa.fa-check
                %span やることリスト
            %li.list-mypage
              = link_to('/items/mypage', class:'link') do
                = image_tag "member_photo.png" ,width: "32", alt: "", class: "member_photo"
                %span マイページ
          - else
            .new-registration-btn
              = link_to '新規会員登録', new_user_path
            .log-in-btn
              = link_to 'ログイン', new_user_session_path


  -# .header__bred-crumbs
  -#   %ul
  -#     %li
  -#       = link_to('/', class: 'bred-crumbs__link') do
  -#         %span メルカリ
  -#     %li
  -#       %i.fa.fa-chevron-right
  -#     %li
  -#       = link_to('#', class: 'bred-crumbs__link') do
  -#         %span ブランド一覧