.header
  .header__container
    .container__top
      %a{href:"/"}
        -# = image_tag "logo.svg", size: "134x36", alt: "mercari",class: "logo"
      %form.header__form{:action => "https://www.mercari.com/jp/search/"}
        %input.input-default{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
        %i.fa.fa-search.icon-search

    .container__bottom
      .container__bottom-left
        %ul
          %li.fa.fa-list-ul.icon
            = link_to 'カテゴリーから探す','#', class:'search-method'
          %li.far.fa-tag.icon
            = link_to 'ブランドから探す一覧','#', class:'search-method'
      .container__bottom-right.icon
        %ul
          %li.far.fa-heart.icon
            = link_to 'いいね一覧','#'
          %li
            %i.far.fa-bell.icon
              = link_to 'お知らせ','#'
          %li
            %i.fa.fa-check.icon
              = link_to 'やることリスト','#'
          %li.far.fa-user-circle.icon
            = link_to 'マイページ','/items/mypage'
  .header__bred-crumbs
    %p メルカリ > カテゴリー一覧