%header
  .signup-headerwrapper
    = render 'devise/shared/user-sign_up-header.html.haml'
.signup-registration
  .signup-registration__main
    %section.signup-registration__main__container
      %h2.signup-registration__main__container__head
        会員情報入力
      .signup-registration__main__container__form
        = form_with(model: @user, url: step2_signup_index_path, local: true) do |f|
          .signup-registration__main__container__form__box
            .signup-registration-from-group-head
              = f.label :nick_name, 'ニックネーム', class: 'signup-registration-label'
              %span.signup-registration-form-require
                必須
              = f.text_field :nick_name, placeholder: "例) メルカリ太郎", class: 'signup-registration-from-input'
              .signup-registration-from-group
              = f.label :email, 'メールアドレス', class: 'signup-registration-label'
              %span.signup-registration-form-require
                必須
              = f.text_field :email, placeholder: "PC・携帯どちらでも可", class:'signup-registration-from-input'
              .signup-registration-from-group
              = f.label :password, 'パスワード', class: 'signup-registration-label'
              %span.signup-registration-form-require
                必須
              = f.password_field :password, placeholder: "7文字以上", autocomplete: "new-password", class: 'signup-registration-from-input'
            .signup-registration-from-group
              = f.label :password_confirmation, 'パスワード(確認)', class: 'signup-registration-label'
              %span.signup-registration-form-require
                必須
              = f.password_field :password_confirmation, placeholder: "7文字以上", autocomplete: "new-password", class: 'signup-registration-from-input'
            .signup-registration-from-group
              %h3.signup-registration-sub-head
                本人確認
              %p.signup-registration-text
                安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
            .signup-registration-from-group
              .div
                = f.label :family_name, 'お名前(全角)', class: 'signup-registration-label'
                %span.signup-registration-form-require
                  必須
              = f.text_field :family_name, placeholder: "例) 山田", class: 'signup-registration-from-input half1'
              = f.text_field :first_name, placeholder: "例) 彩", class: 'signup-registration-from-input half2'
            .signup-registration-from-group
              .div
                = f.label :family_kana, 'お名前(カナ)', class: 'signup-registration-label'
                %span.signup-registration-form-require
                  必須
              = f.text_field :family_kana, placeholder: "例) ヤマダ", class: 'signup-registration-from-input half1'
              = f.text_field :first_kana, placeholder: "例) アヤ", class: 'signup-registration-from-input half2'
            .signup-registration-from-group
              .div
                = f.label :birth_year_id, '生年月日', class: 'signup-registration-label'
                %span.signup-registration-form-require
                  必須
                .birthday-select-box
                  .birthday-select-box-block
                    %i.fa.fa-chevron-down
                    = f.collection_select(:birth_year_id, Birth_year.all, :id, :name, {selected: 0}, {class: "signup-registration-from-input select"})
                  %span
                    年
                  .birthday-select-box-block
                    %i.fa.fa-chevron-down
                    = f.collection_select(:birth_month_id, Birth_month.all, :id, :name, {selected: 0}, {class: "signup-registration-from-input select"})
                  %span
                    月
                  .birthday-select-box-block
                    %i.fa.fa-chevron-down
                    = f.collection_select(:birth_day_id, Birth_day.all, :id, :name, {selected: 0}, {class: "signup-registration-from-input select"})
                  %span
                    日
            %p.form-info-box
              ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
            .signup-registration__main__container__form__box
              .signup-registration-from-group
                = image_tag 'robbot', size: '304x74'
              .signup-registration-from-group
                %p.signup-registration-text-lower
                  「次へ進む」のボタンを押すことにより、
                  = link_to("#", class: 'right-text-link') do
                    利用規約
                  に同意したものとみなします
              .signup-registration-from-group
                = f.submit("次へ進む", step2_signup_index_path, class: "signup-registration-btn")
              .signup-registration-from-group-last
                = link_to("#", class: 'right-text-link') do
                  本人情報の登録について
                  %i.fa.fa-chevron-right
%footer
  = render 'module/subfooter'