%header
  = render 'module/header.html.haml'
.mypage
  %main.mypage__box
    .maypage-sidebar
      = render 'module/mypage-sidebar'
    .mypage__box__content
      .mypage__box__content__identification
        %h2.mypage__box__content__identification-head
          本人情報の登録
        .mypage__box__content__identification-content
          = form_with(model: @user, local: true) do |f|
            %div
            %p
              お客さまの本人情報をご登録ください。
              %br
              登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
              %p.right-text
                = link_to("#", class: 'right-text-link') do
                  本人確認書類のアップロードについて
                  %i.fa.fa-chevron-right
            .form-block
              %label
                お名前
              %p.identification-text
                エキスパ 太郎
            .form-block
              %label
                お名前カナ
              %p
                エキスパ タロウ
            .form-block
              %label
                生年月日
              %p
                1986/08/28
            .form-block
              = f.label :zip_code, "郵便番号"
              %span.arbitrary-mark
                任意
              = f.text_field :zip_code, placeholder: "例)1234567", type: "text", value: "", class: "input-identification-form"
            .form-block
              = f.label :prefecture_id, "都道府県"
              %span.arbitrary-mark
                任意
              .select-box
                %i.fa.fa-chevron-down
                .select-box__prefecture
                  = f.collection_select :prefecture_id, Prefecture.all, :id, :name
            .form-block
              = f.label :city, "市区町村"
              %span.arbitrary-mark
                任意
              = f.text_field :city, placeholder: "例) 横浜市緑区", type: "text", value: "", class: "input-identification-form"
            .form-block
              = f.label :block, "番地"
              %span.arbitrary-mark
                任意
              = f.text_field :block, placeholder: "例) 青山1−1−1", type: "text", value: "", class: "input-identification-form"
            .form-block
              = f.label :building, "建物名"
              %span.arbitrary-mark
                任意
              = f.text_field :building, placeholder: "例) 柳ビル103", type: "text", value: "", class: "input-identification-form"
              = f.submit "登録する" , class: "input-identification-registration_btn"
              %p.right-text.form-block
                = link_to("#", class: 'right-text-link') do
                  本人情報の登録について
                  %i.fa.fa-chevron-right
= render 'module/footer'
= render 'module/sell-btn'