-# 新規登録ページ
= render 'module/subheader'
.sessions-main
  .sessions-main-new
    .session-new-top
      %p 新規会員登録
    .session-new-form
      .session-new-form__mail
        = link_to 'メールアドレスで登録する', '/signup/step1', class: 'session-new-form__mail'
        .session-new-form__mail-icon
          %i.fa.fa-envelope-o
      .session-new-form__facebook
        = button_to 'Facebookで登録する', user_facebook_omniauth_authorize_path, class: 'session-new-form__facebook'
        .session-new-form__facebook-icon
          %i.fa.fa-facebook-square
      .session-new-form__google
        = button_to 'Googleで登録する', user_google_oauth2_omniauth_authorize_path, class: 'session-new-form__google-in'

= render 'module/subfooter'
