.header_phone_authentification
  = render 'devise/shared/user-sign_up-header'

%main.single-main
  .l-single-container
    %h2.l-chapter-head.registration 電話番号の確認
    = form_with(model: @user ,local: true, class: "l-single-inner registration-form") do |form|
      .l-single-content
        .form-group2
          = form.label :phone_number, '携帯電話の番号'
          = form.text_field :phone_number, placeholder: "携帯電話の番号を入力", type: "tel", value: "", class: "input-default"
        %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        = link_to 'SMSを送信する', address_input_users_path, class: "btn-default btn-red"
        %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
        .form-group2.text-right
          = link_to('https://www.mercari.com/jp/help_center/article/244/', target: "_blank") do
            %p 電話番号の承認が必要な理由
            %i.icon-arrow-right

= render 'module/subfooter'