= render 'module/subheader'
.sessions-main
  .sessions-main-in
    .session-top
      %p アカウントをお持ちでない方はこちら
      = link_to '新規会員登録', '#'
      %h2 Log in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "current-password"
        - if devise_mapping.rememberable?
          .field
            = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input', placeholder: 'メールアドレス'
          .field
            = f.password_field :password, autocomplete: "current-password", class: 'input', placeholder: 'パスワード'
          .field
            .field-robbot
              = image_tag 'robbot.png', size: "300x80"
          .actions
            = f.submit "ログイン", class: 'actions-btn'
            = link_to "パスワードをお忘れの方","#", class: 'actions-pass'
= render 'module/subfooter'