%header
  = render 'module/header.html.haml'
- breadcrumb :payments_new

.mypage
  %main.mypage__box
    .maypage-sidebar
      = render 'module/mypage-sidebar'
    .mypage__box__content
      .mypage__box__content__payments_new
        %h2.mypage__box__content__payments_new-head
          クレジットカード情報入力
        .add-l-single-inner.registration-form
          = form_with url: payments_path, method: :post, html: { name: "inputForm" } do |f|
            .l-single-content
              .add_credit_form-group
                = f.label :カード番号, class: 'label'
                %span.form-require 必須
                = f.text_field :card_number, type: 'text', placeholder: '半角数字のみ', maxlength: "16", class: 'input-default'
                %ul#card-no-error-wrapper.has-error-text
                .signup-card-list
                  = image_tag "card.png", alt: "test"
              .add_credit_form-group.signup-form-expire
                .add_credit_form-group_box1
                  = f.label :有効期限, class: 'payment_card_expire'
                  %span.form-require 必須
                  .select-wrap_box.half#add-card
                    = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: "select-default"
                    %span 月
                    = f.select :exp_year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: "select-default"
                    %span 年
                .add_credit_form-group_box1
                  = f.label :セキュリティコード, class: 'label'
                  %span.form-require 必須
                  = f.text_field :cvc, type: 'text', class: 'input-default', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
                  .signup-seqcode
                    .signup-seqcode-text
                      %span.form-question ?
                      カード裏面の番号とは?
                .content-bottom#card_token
                  = f.submit '追加する', class: 'btn-red btn-default', id: 'token_submit'
= render 'module/footer'
= render 'module/sell-btn'

:javascript
  document.addEventListener(
    "DOMContentLoaded", e => {
      if (document.getElementById("token_submit") != null) {
        Payjp.setPublicKey("pk_test_2b103472b5d99a9500ccd485");
        let btn = document.getElementById("token_submit");
        btn.addEventListener("click", e => {
          e.preventDefault();
          let card = {
            number: document.getElementById("card_number").value,
            cvc: document.getElementById("cvc").value,
            exp_month: document.getElementById("exp_month").value,
            exp_year: document.getElementById("exp_year").value
          };
          Payjp.createToken(card, (status, response) => {
            if (status === 200) {
              $("#card_number").removeAttr("name");
              $("#cvc").removeAttr("name");
              $("#exp_month").removeAttr("name");
              $("#exp_year").removeAttr("name");
              $("#card_token").append(
                $('<input type="hidden" name="payjp-token">').val(response.id)
              );
              document.inputForm.submit();
              alert("登録が完了しました");
            } else {
              alert("カード情報が正しくありません。");
            }
          });
        });
      }
    },
    false
  );