.buy-wrapper
  .buy-header
    = render 'module/subheader'

  .buy-main
    .content
      .content__head
        %h2 購入内容の確認
      .content__item
        .item-box
          %h3.item-image
            = image_tag @firstimage, size: "64x64"
          .item-name
            %p
              = @item.name
          .price-box
            %p.buy-price
              = "¥#{@item.price}"
              %span.ship-fee 送料込み
            %ul.user-point
              %li.have-point
              %li.no-point
                .point-info
                  ポイントはありません
            .payment-box
              .payment
                %p 支払い金額
              .pay-price
                %p
                  = "¥#{@item.price}"
            .error-text
              %p 配送先と支払い方法の入力を完了してください。
            = form_tag(action: :pay, method: :post) do
              %button.buy-btn.btn-gray.btn-red 購入する
      .content__ship
        .ship-in
          %h3 配送先
          .ship-adress
            %p 〒123-4567
            %p 京都府京都市上京区二条東入ル
            %p エキスパ太郎
          .ship-adress-edit
            = link_to "変更する>",("#"), method: :edit
      .content__pay
        .pay-in
          %h3 支払い方法
          .pay-plan
            %p
              %br ********/********
          .pay-plan-edit
            = link_to "変更する>",("#"), method: :edit

  .buy-footer
    = render 'module/subfooter'


