= render 'module/header'
.wrapper__top-page
  .top-page__banners.slider
    .banner-1
    .banner-2

  .section
    .section__header
      %h2 人気のカテゴリー
      .section__links
        %ul
          %li<
            = link_to 'レディース', '#category_1'
          %li<
            = link_to 'メンズ', '#category_2'
          %li<
            = link_to '家電・スマホ・カメラ', '#category_3'
          %li<
            = link_to 'おもちゃ・ホビー・グッズ', '#category_4'

    #category_1
      .categories__container
        .container__title
          %h3 レディース新着アイテム
          .view_more
            = link_to('もっと見る ','#', )
            %i.fa.fa-chevron-right
        .container__item-box
          .item__grid.clearfix
            - @item_category_1.each do |item|
              = render partial: "item", locals: { item: item }

    #category_2
      .categories__container
        .container__title
          %h3 メンズ新着アイテム
          .view_more
            = link_to('もっと見る ','#', )
            %i.fa.fa-chevron-right
        .container__item-box
          .item__grid.clearfix
            - @item_category_2.each do |item|
              = render partial: "item", locals: { item: item }

    #category_3
      .categories__container
        .container__title
          %h3 家電・スマホ・カメラ
          .view_more
            = link_to('もっと見る ','#', )
            %i.fa.fa-chevron-right
        .container__item-box
          .item__grid.clearfix
            - @item_category_3.each do |item|
              = render partial: "item", locals: { item: item }

    #category_4
      .categories__container
        .container__title
          %h3 おもちゃ・ホビー・グッズ
          .view_more
            = link_to('もっと見る ','#', )
            %i.fa.fa-chevron-right
        .container__item-box
          .item__grid.clearfix
            - @item_category_4.each do |item|
              = render partial: "item", locals: { item: item }

= render 'module/footer'
= render 'module/sell-btn'

