%header
  = render 'module/header.html.haml'
.mypage
  %main.mypage__box
    .maypage-sidebar
      = render 'module/mypage-sidebar'
    .mypage-content
      .mypage-content__logoutbox
        .mypage-content__logoutbox__logout
          = link_to "ログアウト", destroy_user_session_path, {method: :delete, class: "logoutbutton"}
= render 'module/footer'
= render 'module/sell-btn'