.shipping_contents
  = render 'module/subheader'
  .single-main
    %section.shipping-single-container
      .sell_container
        .sell-container-inner
          %h2.l-single-head
            商品の情報を入力
          %form.sell-form
            .sell-upload-box
              %h3.sell-upload-head
                出品画像
                %span.form-require
                  必須
              %p
                最大10枚までアップロードできます
              .sell-dropbox-container.clearfix
                .sell-upload-items-container
                  .sell-upload-items
                    %ul
              .sell-upload-drop-box
                %input
                %pre.visible-pc
                  ドラッグアンドドロップ
                  またはクリックしてファイルをアップロード
              %pseudo:after
              %pseudo:after
            .sell-content
              .form-group
                %label
                  商品名
                  %span.form-require
                    必須
                .item_subumit_form
                  %input.input-default_shipping{:placeholder => "商品名（必須 40文字まで)", :value => ""}/
              .form-group
                %label
                  商品の説明
                  %span.form-require
                    必須
                %textarea.textarea-default{:placeholder => "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", :rows => "5"}

            .sell-content_secoud
              %h3.sell-sub-head
                商品の詳細
              .sell-form-box
                .form-group_first
                  = form_with(model: @items, local: true) do |f|
                    %label
                      カテゴリー
                    %span.form-require 必須
                    .select-wrap-box
                      %i.fas.fa-angle-down
                        %pseudo:before
                      .select-wrap-box_prefecture
                        .select-wrap
                          = f.collection_select :categoryactive_id, Categoryactive.all, :id, :name

                .form-group
                  = form_with(model: @items, local: true) do |f|
                    %label
                      商品の状態
                    %span.form-require 必須
                    .select-wrap-box
                      %i.fas.fa-angle-down
                        %pseudo:before
                      .select-wrap-box_prefecture
                        .select-wrap
                          = f.collection_select :conditionactive_id, Conditionactive.all, :id, :name

            .sell-content_secoud
              %h3.sell-sub-head
                配送について
                %i.fas.fa-question-circle
              .sell-form-box
                .form-group_first
                  = form_with(model: @items, local: true) do |f|
                    %label
                      配送量の負担
                    %span.form-require 必須
                    .select-wrap-box
                      %i.fas.fa-angle-down
                        %pseudo:before
                      .select-wrap-box_prefecture
                        .select-wrap
                          = f.collection_select :deliveryactive_id, Deliveryactive.all, :id, :name
                
                .form-group
                  = form_with(model: @user, local: true) do |f|
                    %label
                      発送元の地域
                    %span.form-require 必須
                    .select-wrap-box
                      %i.fas.fa-angle-down
                        %pseudo:before
                      .select-wrap-box_prefecture
                        .select-wrap
                          = f.collection_select :prefecture_id, Prefecture.all, :id, :name


                .form-group
                  = form_with(model: @items, local: true) do |f|
                    %label
                      発送までの日数
                    %span.form-require 必須
                    .select-wrap-box
                      %i.fas.fa-angle-down
                        %pseudo:before
                      .select-wrap-box_prefecture
                        .select-wrap
                          = f.collection_select :daysbeforeshipment_id, Daysbeforeshipment.all, :id, :name

            .sell-content_secoud_under
              %h3.sell-sub-head_under
                販売価格(300〜9,999,999)
                %i.fas.fa-question-circle
              %a.form-question{:href => "/jp/help_center/article/64/", :target => "_blank"}
              .sell-form-box_under
                %ul.sell-price
                  %li.form-group_under_first
                    .form-group_price_box
                      %label.l-left
                        価格
                        %span.form-require
                          必須
                      .l-right.sell-price-input
                        ¥
                        .input-default_box
                          %input.input-default_price{:placeholder => "例）300", :value => ""}/

              .sell-form-box_under_second
                %p
                  販売手数料 (10%)
              .sell-form-box_under_third
                %p
                  販売利益
      .sell-btn-box
        .sell-btn-box_text
          %p
            = link_to "禁止されている出品", "/jp/help_center/getting_started/prohibited_items/" ,target: "_blank"
            = link_to "行為", "/jp/help_center/getting_started/prohibited_conduct/" ,target: "_blank"
            を必ずご確認ください。
          %p
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to "偽ブランドの販売", "/jp/help_center/getting_started/counterfeit_goods/" ,target: "_blank"
            は犯罪であり処罰される可能性があります。
          %p
            また、出品をもちまして
            = link_to "加盟店規約", "/jp/seller_terms/"
            に同意したことになります。
        %button.btn-default.btn-red{:type => "submit"}
          出品する
        %a.btn-default.btn-gray
          もどる
= render 'module/subfooter'