.mypage
  %header.mypage__header
  %nav.mypage__header-breadcrumb
  %main.mypage__box
    .mypage__box__content
      %section.mypage__box__content__user-icon
        %a{:href => "#"}
          .mypage__box__content__user-icon__figure
            = image_tag 'member_photo.png'
          %h2.mypage__box__content__user-icon__user-name
            ユーザー
          .mypage__box__content__user-icon__number
            .div
              評価
              .mypage__box__content__user-icon__mypage-number__rate-number
                0
            .div
              出品数
              .mypage__box__content__user-icon__mypage-number__number-of-exhibits
                0
      %section.mypage__box__content__notification-todo
        %ul.mypage__box__content__notification-todo__tabs
          %li.mypage__box__content__notification-todo__tabs__notification
            %a{ :href => "#" }
              %h3
                お知らせ
          %li.mypage__box__content__notification-todo__tabs__todo
            %a{ :href => "#" }
              %h3
                やることリスト
        .mypage__box__content__notification-todo__tab-content
          %ul#mypage__box__content__notification-todo__tab-content__notification
            %li
              %a.notification_list{ :href => "#" }
                .mercari-logo
                  = image_tag 'mercari_profile.png'
                .mypage-item-body
                  .mypage-item-text
                    《招待コード「HAJIKIN」を入力してメルペイをはじめるとP1,000が必ずもらえる！》今だけの特別企画！
                    .time
                      .mypage-item-time
                        %i.fa.fa-clock
                        %span.time-number
                          ６時間前 
                %i.fa.fa-chevron-right.notification-chevron-right             
            %li
              %a.notification_list{ :href => "#" }
                .mercari-logo
                  = image_tag 'mercari_profile.png'
                .mypage-item-body
                  .mypage-item-text
                    【実は高く売れる！】遊び終わったゲームもバーコードで10秒出品♪
                    .time
                      .mypage-item-time
                        %i.fa.fa-clock
                        %span.time-number
                          ８時間前
                %i.fa.fa-chevron-right.notification-chevron-right
            %li
              %a.notification_list{ :href => "#" }
                .mercari-logo
                  = image_tag 'mercari_profile.png'
                .mypage-item-body
                  .mypage-item-text
                    事務局から個別メッセージ「ログイン通知」
                    .time
                      .mypage-item-time
                        %i.fa.fa-clock
                        %span.time-number
                          １日前 
                %i.fa.fa-chevron-right.notification-chevron-right
            %li
              %a.notification_list{ :href => "#" }
                .mercari-logo
                  = image_tag 'mercari_profile.png'
                .mypage-item-body
                  .mypage-item-text
                    事務局から個別メッセージ「ログイン通知」
                    .time
                      .mypage-item-time
                        %i.fa.fa-clock
                        %span.time-number
                          １日前 
                %i.fa.fa-chevron-right.notification-chevron-right
            %li
              %a.notification_list{ :href => "#" }
                .mercari-logo
                  = image_tag 'mercari_profile.png'
                .mypage-item-body
                  .mypage-item-text
                    《CM放送中》参加したら10円分ポイント必ずもらえる！秋フェス開催中♪
                    .time
                      .mypage-item-time
                        %i.fa.fa-clock
                        %span.time-number
                          １日前 
                %i.fa.fa-chevron-right.notification-chevron-right
            %li
              .mypage-go-list
                %a{ :href => "#" }
                  一覧を見る
      %section.mypage__box__content__contaier
        %h2.mypage__box__content__contaier__tab-head
          購入した商品
        %ul.mypage__box__content__contaier__tabs
          %li.mypage__box__content__contaier__tabs__trading
            %a{ :href => "#" }
              %h3
                取引中
          %li.mypage__box__content__contaier__tabs__past-transactions
            %a{ :href => "#" }
              %h3
                過去の取引
        .mypage__box__content__contaier__tab-content
          .mypage__box__content__contaier__tab-content__trading
            %li
              取引中の商品がありません
    .maypage__box__side
      %nav.maypage__box__side__sidebar
        %ul.maypage__box__side__sidebar__list
          %li.maypage__box__side__sidebar__list__item
            マイページ
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            お知らせ
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            やることリスト
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            いいね！一覧
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            出品する
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            出品した商品 - 出品中
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            出品した商品 - 取引中
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            出品した商品 - 売却済み
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            購入した商品 - 取引中
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            購入した商品 - 過去の取引
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            ニュース一覧
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            評価一覧
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            ガイド
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            お問い合わせ
            %i.fa.fa-chevron-right
        %h3.maypage__box__side__head
          メルペイ
        %ul.maypage__box__side__sidebar__list
          %li.maypage__box__side__sidebar__list__item
            売上・振込申請
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            ポイント
            %i.fa.fa-chevron-right
        %h3.maypage__box__side__head
          設定
        %ul.maypage__box__side__sidebar__list
          %li.maypage__box__side__sidebar__list__item
            プロフィール
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            発送元・お届け先住所変更
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            支払い方法
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            メール/パスワード
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            本人情報
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            電話番号
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            電話番号の確認
            %i.fa.fa-chevron-right
          %li.maypage__box__side__sidebar__list__item
            ログアウト
            %i.fa.fa-chevron-right

