!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title FreemarketSample58b
    = favicon_link_tag('favicon.ico')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet"}
    %link{href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js", type: "text/javascript"}
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
  %body
    .notifications
      - flash.each do |key, value|
        = content_tag(:div, value, class: key)
    .bread-container
      .bread-container-in
        %p= breadcrumbs separator: "&rsaquo;"
    = yield
